.root {
    height: 100vh;
  }

  .image {
  background-repeat: 'no-repeat';
  background-size: cover;
  background-position: center;
  /* background-image: url(https://image.freepik.com/free-photo/cropped-image-businessman-sitting-by-table-cafe-analyzing-indicators_171337-5597.jpg); */
  }

  .paper {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    margin: 1px;
    background-color: seagreen;
  }

  .form {
    width: '100%';
    margin-top: 1px;
  }

  .submit {
    margin: 5px;
    display: flex;
   
  }